<div class="d-flex">

  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      GifsApp
    </h3>
    <hr class="text-white">

    <div class="list-group list-reset">
      <a href="#"
        class="list-group-item list-group-item-action">
        Dashboard</a>
    </div>
  </div>

  <div class="container">
    <div class="row p-3">

      <div class="col">
        <h5>Ingresar busqueda:</h5>
        <input type="text" class="form-control" placeholder="Nombre de Gifs">
      </div>
    </div>
    <hr>

    <div class="row p-3">
      <div class="col">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, illo deserunt? Totam molestiae, accusantium eius qui reiciendis consequuntur, fugit cum facere minima odit maxime magnam nam saepe cumque fugiat modi.</p>
      </div>
    </div>
  </div>

</div>